p
{
    height: 400px;
    width: 400px;
    background: red;
    position: relative;
    border-radius: 2000px;
    animation: colorChange 6s infinite;
}
@keyframes colorChange
{
    0%
    {
        background: red;
        left: 0px;
        top: 0px;

    }
    10%
    {
        background:green;
        left: 100px;
        top: 200px;
        
    }
    50%
    {
        background: yellow;
        left: 0px;
        top: 0px;
        
    }
    75%
    {
        background: black;
        left: 70px;
        top: 90px;
        
    }
    100%
    {
        background: blue;
        left: 0px;
        top: 0px;
        
    }
}