p{
    height:200px;
    width:1600px;
}
#p1
{
    background: pink;
}
#p2
{
    background: brown;
}
#p3
{
    background: yellow;
}
#p4
{
    background: blue;
}
#p5
{
    background:black;
}
.pa1
{
   font-size: 20px;
   font-style: italic; 
}
.pa2
{
   font-size: 100px;
   font-weight:bold; 
}